$soft-pink: #FFECF0;
$dark-pink: #EA4C89;
$white: #fff;
$transparent: transparent;
$blue: #1769FF;
$yellow: #FDB72E;
$black: #000;

$border-color: #E6E6E6;
$text-color: #656C7C;
$disabled-color: #B1B8C9;

